.main-container {
  background-color: #2D2D2D;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

.title {
  grid-column: 1 / span 2;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.left-container, .right-container {
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  height: calc(100vh - 80px); /* Adjust height considering padding and title margin */
}

.left-container {
  text-align: left;
  width: 100%; /* Ensures container takes full width of grid cell */
}

.right-container {
  text-align: left;
  color: white;
  width: 100%; /* Ensures container takes full width of grid cell */
}

.scores-table {
  width: 100%;
}

.scores-table table {
  width: 100%;
  border-collapse: collapse;
}

.scores-table th,
.scores-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.scores-table th {
  background-color: #4CAF50;
  color: white;
}
